<div class="sample-column">
  <igx-navbar title="Tests">
      <!-- <igx-navbar-action>
          <button igxIconButton="flat">
              <igx-icon>menu</igx-icon>
          </button>
      </igx-navbar-action> -->
      
      <button igxIconButton="flat" (click)="action('catgy')">
          <igx-icon>insert_chart</igx-icon>
      </button>
      <button igxIconButton="flat" (click)="action('input')">
          <igx-icon>input</igx-icon>
      </button>
      <button igxIconButton="flat" (click)="action('tree')">
          <igx-icon>view_quilt</igx-icon>
      </button>
      <button igxIconButton="flat" tooltip="Dock Manager" (click)="action('dock')">
        <igx-icon>blur_linear</igx-icon>
    </button>
      
  </igx-navbar>
</div>



<router-outlet></router-outlet>
